
#root {

    width: 1905px;
    height: 100%;
}
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .next-row {

    margin-top: 26px;
  }

  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #e5e5e7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .test1 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 136px;
    min-width: 0;
    text-align: center;
  }
  
  .demo-logo {
    width: 120px;
    min-width: 120px;
    height: 32px;
    background: rgba(255,255,255,.2);
    border-radius: 6px;
    margin-inline-end:24px}
  
  .demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background: rgba(255,255,255,.2);
    border-radius: 6px
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  